.Rproj.user
.Rhistory
.RData
.Ruserdata
data/transfer_learning_net
data/protBERT_data_4122
data/CNN_data_4122
data/ESM1b_data_4122
data/seqs_4122
data/PSICOV_ESM1v
data/PSICOV_EMS1v
output/PSICOV_CNN_output_new
data/PSICOV_ESM1v
output/aligned_CNN_PSICOV
